*.mexw64
*.mexa64
*.mexmaci64
*.pdb
*.o
*.ilk
*.asv
*.deps
*.wisdom
*.exe
*.dll
*.asv
*.7z
*Copy*.cuh
*Copy*.hpp
*Copy*.cpp
build-multem-Desktop_Qt_5_9_0_MSVC2015_64bit-Debug
build-multem-Desktop_Qt_5_9_0_MSVC2015_64bit-Release
.vscode
EDX
multem.zip
multem_stable.zip
mex_example_test
multem_binary
multem_binary.rar
multem_binary.zip
compile_mex_general.m
compile_mex_test.m
mex_files_general
mex_files_test
matlab_functions_nn
mex_examples_general
others
src_temporal
tutorial
bugs
design
visual_studio_multem/.vs
visual_studio_multem/x64
visual_studio_multem/multem/x64
mex_files_multem/mex_CUDA_glnxa64.xml
mex_files_multem/mex_CUDA_maci64.xml
mex_files_multem/mex_CUDA_win64.xml
src/atomic_cross_section.cuh
src/cb_spl_intrpl.hpp
src/cpu_fcns_image.hpp
src/cgpu_spt_ptc.cuh
src/crystal_spec.hpp
src/eval_fit_atomic_columns.hpp
src/eval_fit_atomic_columns_c.hpp
src/eval_fit_atomic_columns_c_old.hpp
src/eval_fit_gaussians.hpp
src/peak_finding.cuh
src/incident_wave.cuh
src/eval_fit_gaussians.hpp
src/input_multislice.cuh
src/input_tomography.cuh
src/output_multem.hpp
src/peak_finding.cuh
src/pn_fact.hpp
src/projected_potential.cuh
src/transmission_fcn.cuh
src/wave_function.cuh
src/propagator.cuh
src/tem_simulation.cuh
src/energy_loss.cuh
src/microscope_effects.cuh
matlab_functions/atomic_radius.mat
matlab_functions/center_spec.m
matlab_functions/extract_atomic_pos_lammps.m
matlab_functions/fsd_parm_coef.mat
matlab_functions/g_Grid.m
matlab_functions/ilm_adapthisteq_3d.m
matlab_functions/ilm_add_alpha_channel.m
matlab_functions/ilm_add_filesep.m
matlab_functions/ilm_angle_btw_vectors.m
matlab_functions/ilm_apply_fs_3d_thr.m
matlab_functions/ilm_apply_jitter_jitter.m
matlab_functions/ilm_apply_mask_g_3d.m
matlab_functions/ilm_apply_mtf_g.m
matlab_functions/ilm_apply_pbc.m
matlab_functions/ilm_apply_rs_3d_thr.m
matlab_functions/ilm_apply_rs_3d_thr_2.m
matlab_functions/ilm_apply_spatial_incoh_model.m
matlab_functions/ilm_apply_tr_bw_mask.m
matlab_functions/ilm_apply_wiener_filter.m
matlab_functions/ilm_apply_wiener_filter_ast.m
matlab_functions/ilm_astra_create_parallel3d_proj_geom.m
matlab_functions/ilm_atoms_get_box_size.m
matlab_functions/ilm_at_2_data.m
matlab_functions/ilm_at_p_2_nr_grid.m
matlab_functions/ilm_at_v_2_bd.m
matlab_functions/ilm_bandwidth_limit.m
matlab_functions/ilm_bd_2_data.m
matlab_functions/ilm_bd_2_xy.m
matlab_functions/ilm_bg_subtraction_3d.m
matlab_functions/ilm_bining_image.m
matlab_functions/ilm_build_ellip_par_interp2.m
matlab_functions/ilm_calc_borders_using_at_v.m
matlab_functions/ilm_center_tr_2d_using_at_v.m
matlab_functions/ilm_chk_bound.m
matlab_functions/ilm_chk_bound_eq.m
matlab_functions/ilm_compile.m
matlab_functions/ilm_cosine_loss.m
matlab_functions/ilm_create_mtf_g.m
matlab_functions/ilm_cubic_mask.m
matlab_functions/ilm_cvt_at_v_2_A_txy.m
matlab_functions/ilm_cvt_at_v_2_tr_scy_shx_v.m
matlab_functions/ilm_cvt_at_v_bci_2_at_v_r.m
matlab_functions/ilm_cvt_at_v_r_2_at_v_bci.m
matlab_functions/ilm_cvt_A_txy_2_at_v.m
matlab_functions/ilm_cylindrical_mask.m
matlab_functions/ilm_damp_added_borders.m
matlab_functions/ilm_data_2_stack_3d.m
matlab_functions/ilm_data_2_stack_4d.m
matlab_functions/ilm_defocus_depth.m
matlab_functions/ilm_dflt_at_p.m
matlab_functions/ilm_dir.m
matlab_functions/ilm_dist_pt_2_ln_2d.m
matlab_functions/ilm_dose.m
matlab_functions/ilm_draw_line_mx.m
matlab_functions/ilm_draw_line_mx_aa.m
matlab_functions/ilm_draw_pol_mx.m
matlab_functions/ilm_ellipsoid_butterworth.m
matlab_functions/ilm_elliptical_gaussian_2d_fix_pos.m
matlab_functions/ilm_eval_ellipse_2d.m
matlab_functions/ilm_eval_ellip_interp2.m
matlab_functions/ilm_eval_rad_mtf.m
matlab_functions/ilm_extract_atomic_pos_lammps.m
matlab_functions/ilm_extract_data.m
matlab_functions/ilm_extract_region.m
matlab_functions/ilm_extract_region_using_bd.m
matlab_functions/ilm_extr_marg_frame_gfc.m
matlab_functions/ilm_extr_sq_frame_gfc.m
matlab_functions/ilm_fcc_001_xyc_2_xycg.m
matlab_functions/ilm_fcc_110_xyc_2_xycg.m
matlab_functions/ilm_fcn_butterworth.m
matlab_functions/ilm_fcn_butterworth_3d.m
matlab_functions/ilm_fcn_butterworth_rect.m
matlab_functions/ilm_fd_neighbors.m
matlab_functions/ilm_fd_tc_theta_using_sirt_3df.m
matlab_functions/ilm_fd_tc_using_sirt_3df.m
matlab_functions/ilm_fd_theta_at_p_using_sirt_3df.m
matlab_functions/ilm_fd_theta_tc_0_using_sirt_3df.m
matlab_functions/ilm_fd_theta_using_sirt_3df.m
matlab_functions/ilm_fd_tr_2d_bi.m
matlab_functions/ilm_fd_tr_2d_bi_tem.m
matlab_functions/ilm_fd_tr_2d_ri.m
matlab_functions/ilm_fd_tr_scy_shx_2d_bi.m
matlab_functions/ilm_fd_tr_scy_shx_2d_ri.m
matlab_functions/ilm_fd_tr_using_sirt_3df.m
matlab_functions/ilm_fft2.m
matlab_functions/ilm_find_center_radius_cbed.m
matlab_functions/ilm_find_closest_pos.m
matlab_functions/ilm_find_closest_xy_pos.m
matlab_functions/ilm_fitting_xtl_structure_3d.m
matlab_functions/ilm_fit_ellipse_2d.m
matlab_functions/ilm_fit_elliptical_gaussian_2d_using_fix_pos.m
matlab_functions/ilm_fit_gaussian_2d_using_fix_pos.m
matlab_functions/ilm_fit_gaussian_exp_2d_using_fix_pos.m
matlab_functions/ilm_fit_three_gaussian_2d_using_fix_pos.m
matlab_functions/ilm_fit_two_gaussian_2d_using_fix_pos.m
matlab_functions/ilm_fs_grid_2d.m
matlab_functions/ilm_fs_spatial_incoh_model.m
matlab_functions/ilm_gaussian_2d_fix_pos.m
matlab_functions/ilm_gaussian_exp_2d_fix_pos.m
matlab_functions/ilm_gaussian_win.m
matlab_functions/ilm_gauss_cv_2_data.m
matlab_functions/ilm_gen_lammps_bash.m
matlab_functions/ilm_gen_lammps_relaxation_eam_bash.m
matlab_functions/ilm_gen_lammps_relaxation_eam_in.m
matlab_functions/ilm_gen_lammps_relaxation_sr_h_hs_q_qs_sr_in.m
matlab_functions/ilm_gen_lammps_relaxation_sr_loop_h_hs_sr_in.m
matlab_functions/ilm_gen_tmg_proj.m
matlab_functions/ilm_geom_center_cp.m
matlab_functions/ilm_get_bg.m
matlab_functions/ilm_get_bin_shadow_image.m
matlab_functions/ilm_get_center_tr_2d.m
matlab_functions/ilm_get_ctr_rng.m
matlab_functions/ilm_get_displacement_center.m
matlab_functions/ilm_get_idx_0_idx_e.m
matlab_functions/ilm_get_idx_0_idx_e_2d.m
matlab_functions/ilm_get_idx_0_idx_e_3d.m
matlab_functions/ilm_get_jitter.m
matlab_functions/ilm_get_jitter_opt_flow.m
matlab_functions/ilm_get_mask_3d_thr.m
matlab_functions/ilm_gui_2d_segmentation.m
matlab_functions/ilm_gui_3d_segmentation.m
matlab_functions/ilm_gui_cbed_elliptical_fit.m
matlab_functions/ilm_gui_g_max.m
matlab_functions/ilm_gui_is_over_object.m
matlab_functions/ilm_gui_pcf_sigma.m
matlab_functions/ilm_gui_peak_finding.m
matlab_functions/ilm_gui_rotate_image.m
matlab_functions/ilm_gui_stem_registration.m
matlab_functions/ilm_gui_tomo_aligment.m
matlab_functions/ilm_g_ref_create_mask_gaussian_3d.m
matlab_functions/ilm_g_ref_opt_individual_full.m
matlab_functions/ilm_g_ref_opt_iso_A_3d.m
matlab_functions/ilm_g_ref_opt_iso_A_sigma_3d.m
matlab_functions/ilm_g_ref_opt_iso_sigma_3d.m
matlab_functions/ilm_g_ref_opt_iso_xyz_3d.m
matlab_functions/ilm_g_ref_opt_set_parm_0.m
matlab_functions/ilm_g_ref_opt_vector_3d.m
matlab_functions/ilm_g_ref_opt_vector_full.m
matlab_functions/ilm_g_ref_opt_vector_set_par_0.m
matlab_functions/ilm_g_ref_vector_create_mask_gaussian_3d.m
matlab_functions/ilm_hanning_win.m
matlab_functions/ilm_harm_osc_1d.m
matlab_functions/ilm_harm_osc_2d.m
matlab_functions/ilm_hysitron_video_proc.m
matlab_functions/ilm_idx_2_meshgrid_2d.m
matlab_functions/ilm_idx_2_meshgrid_3d.m
matlab_functions/ilm_imagesc.m
matlab_functions/ilm_image_4fold_replication.m
matlab_functions/ilm_image_centroid.m
matlab_functions/ilm_image_replication.m
matlab_functions/ilm_inv_linear_interp.m
matlab_functions/ilm_jitter_join_dxy.m
matlab_functions/ilm_jitter_opt.m
matlab_functions/ilm_jitter_opt_btw_2.m
matlab_functions/ilm_jitter_opt_flow_analytic.m
matlab_functions/ilm_jitter_rt.m
matlab_functions/ilm_jitter_rti.m
matlab_functions/ilm_jitter_rti_dxy.m
matlab_functions/ilm_jitter_rt_dxy.m
matlab_functions/ilm_jitter_xy.m
matlab_functions/ilm_laguerre.m
matlab_functions/ilm_linear_interp.m
matlab_functions/ilm_line_intxn_2d.m
matlab_functions/ilm_max_dist.m
matlab_functions/ilm_mean_abs_fdata.m
matlab_functions/ilm_mean_abs_fdata_at.m
matlab_functions/ilm_mean_data.m
matlab_functions/ilm_mean_data_at.m
matlab_functions/ilm_mean_data_nr_grid.m
matlab_functions/ilm_mean_fdata.m
matlab_functions/ilm_mean_image.m
matlab_functions/ilm_mean_std.m
matlab_functions/ilm_mean_std_ni.m
matlab_functions/ilm_mean_std_np.m
matlab_functions/ilm_mfft3d_for_fitting.m
matlab_functions/ilm_minmax_norm_image.m
matlab_functions/ilm_min_dist.m
matlab_functions/ilm_min_distance.m
matlab_functions/ilm_min_max.m
matlab_functions/ilm_min_max_ni.m
matlab_functions/ilm_min_max_np.m
matlab_functions/ilm_mrad_2_rAng.m
matlab_functions/ilm_nr_grid_2_data.m
matlab_functions/ilm_nz_data.m
matlab_functions/ilm_orien_xyz.m
matlab_functions/ilm_pca_mx.m
matlab_functions/ilm_pctf.m
matlab_functions/ilm_plot_bd.m
matlab_functions/ilm_plot_circle.m
matlab_functions/ilm_plot_circle_wc.m
matlab_functions/ilm_plot_ellipse.m
matlab_functions/ilm_plot_rectangle.m
matlab_functions/ilm_plot_vectors_3d.m
matlab_functions/ilm_pn_border.m
matlab_functions/ilm_pn_fact.m
matlab_functions/ilm_polyfit_w.m
matlab_functions/ilm_proj_cube.m
matlab_functions/ilm_propagator.m
matlab_functions/ilm_rand.m
matlab_functions/ilm_randa.m
matlab_functions/ilm_randi_r.m
matlab_functions/ilm_randn.m
matlab_functions/ilm_rand_crack_2d.m
matlab_functions/ilm_rand_gt.m
matlab_functions/ilm_rand_gt_c.m
matlab_functions/ilm_rand_im.m
matlab_functions/ilm_rand_rect_shell.m
matlab_functions/ilm_rand_spatial_incoh_coef.m
matlab_functions/ilm_rand_u.m
matlab_functions/ilm_rand_u_theta.m
matlab_functions/ilm_rand_walk_2d.m
matlab_functions/ilm_rAng_2_mrad.m
matlab_functions/ilm_read_angles_cif.m
matlab_functions/ilm_read_ap_cif.m
matlab_functions/ilm_read_ap_dump_lammps.m
matlab_functions/ilm_read_ap_lammps.m
matlab_functions/ilm_read_ap_pdb.m
matlab_functions/ilm_read_ap_xyz.m
matlab_functions/ilm_read_blo.m
matlab_functions/ilm_read_dm.m
matlab_functions/ilm_read_emd.m
matlab_functions/ilm_read_folder_as_3d.m
matlab_functions/ilm_read_info_blo.m
matlab_functions/ilm_read_info_dm.m
matlab_functions/ilm_read_info_mib.m
matlab_functions/ilm_read_info_ser.m
matlab_functions/ilm_read_info_video.m
matlab_functions/ilm_read_lat_parm_cif.m
matlab_functions/ilm_read_mib.m
matlab_functions/ilm_read_mib_4d_dir.m
matlab_functions/ilm_read_mrc.m
matlab_functions/ilm_read_ser.m
matlab_functions/ilm_read_ser_old.m
matlab_functions/ilm_read_ser_or_dm.m
matlab_functions/ilm_read_tif.m
matlab_functions/ilm_read_tif_mat.m
matlab_functions/ilm_read_tif_or_mrc.m
matlab_functions/ilm_read_video.m
matlab_functions/ilm_read_x_hdf5.m
matlab_functions/ilm_read_x_y_hdf5.m
matlab_functions/ilm_read_y_hdf5.m
matlab_functions/ilm_remove_atoms_pbc.m
matlab_functions/ilm_remove_overlaping_xy.m
matlab_functions/ilm_remove_overlaping_xyz.m
matlab_functions/ilm_remove_points_fourier_space.m
matlab_functions/ilm_remove_spike.m
matlab_functions/ilm_replace_filesep.m
matlab_functions/ilm_resc_tem_data.m
matlab_functions/ilm_resize_2_data.m
matlab_functions/ilm_retrieve_threshold.m
matlab_functions/ilm_rot_3d_tr_2d.m
matlab_functions/ilm_rot_cube_3d.m
matlab_functions/ilm_rot_mx_2d.m
matlab_functions/ilm_rot_mx_3d.m
matlab_functions/ilm_rot_tr_2d_2_data.m
matlab_functions/ilm_rs_grid_2d.m
matlab_functions/ilm_rs_spatial_incoh_model.m
matlab_functions/ilm_run.m
matlab_functions/ilm_run_nr_stem.m
matlab_functions/ilm_run_rg_stem.m
matlab_functions/ilm_r_vector_create_mask_gaussian_3d.m
matlab_functions/ilm_search_subdir.m
matlab_functions/ilm_seeds_2_voronoi_polygon.m
matlab_functions/ilm_seed_thr.m
matlab_functions/ilm_select_atoms.m
matlab_functions/ilm_select_atoms_in_box.m
matlab_functions/ilm_select_atoms_out_box.m
matlab_functions/ilm_select_pixels_around.m
matlab_functions/ilm_series_images_filtering.m
matlab_functions/ilm_series_images_remove.m
matlab_functions/ilm_set_borders.m
matlab_functions/ilm_set_bound.m
matlab_functions/ilm_set_rng_state.m
matlab_functions/ilm_sg_2_bl.m
matlab_functions/ilm_show_lattice_par.m
matlab_functions/ilm_show_pcf.m
matlab_functions/ilm_show_proj_xtl.m
matlab_functions/ilm_show_slicing.m
matlab_functions/ilm_show_xtl.m
matlab_functions/ilm_sigma_g_2_sigma_r.m
matlab_functions/ilm_sinc_2d_interpolation.m
matlab_functions/ilm_sirt_3df.m
matlab_functions/ilm_sirt_3df_patch.m
matlab_functions/ilm_sirt_3ds.m
matlab_functions/ilm_sirt_cstr_3df.m
matlab_functions/ilm_sizeof.m
matlab_functions/ilm_size_data.m
matlab_functions/ilm_size_mib.m
matlab_functions/ilm_size_tif.m
matlab_functions/ilm_size_tif_mat.m
matlab_functions/ilm_snr.m
matlab_functions/ilm_sort_files.m
matlab_functions/ilm_spec_recenter.m
matlab_functions/ilm_sphere_mask.m
matlab_functions/ilm_split_range_idx.m
matlab_functions/ilm_spt_gaussian_2d_xy.m
matlab_functions/ilm_spt_gaussian_2d_xyc.m
matlab_functions/ilm_spt_gaussian_2d_xyz.m
matlab_functions/ilm_stack_3d_2_data.m
matlab_functions/ilm_stack_4d_2_data.m
matlab_functions/ilm_stem_4d_aligment.m
matlab_functions/ilm_stem_det_resize.m
matlab_functions/ilm_swap.m
matlab_functions/ilm_TEM_Image_Model.m
matlab_functions/ilm_three_gaussian_2d_fix_pos.m
matlab_functions/ilm_tomo_dir.m
matlab_functions/ilm_tomo_mfft_2d_from_data.m
matlab_functions/ilm_tomo_mfft_2d_from_files.m
matlab_functions/ilm_tomo_ts_align.m
matlab_functions/ilm_tri_2d.m
matlab_functions/ilm_tr_2d_2_data.m
matlab_functions/ilm_tr_at_2d_2_data.m
matlab_functions/ilm_tr_rot_2d_2_data.m
matlab_functions/ilm_two_gaussian_2d_fix_pos.m
matlab_functions/ilm_ucr_create_mask.m
matlab_functions/ilm_ucr_opt_A.m
matlab_functions/ilm_ucr_opt_p_c.m
matlab_functions/ilm_ucr_opt_p_c_v.m
matlab_functions/ilm_ucr_opt_R_u.m
matlab_functions/ilm_ucr_opt_set_parm_0.m
matlab_functions/ilm_ucr_opt_sigma.m
matlab_functions/ilm_ucr_opt_v.m
matlab_functions/ilm_unit_vctr_2d.m
matlab_functions/ilm_unit_vctr_3d.m
matlab_functions/ilm_vect_assign.m
matlab_functions/ilm_write_ap_lammps.m
matlab_functions/ilm_write_ap_pdb.m
matlab_functions/ilm_write_blo.m
matlab_functions/ilm_write_gif.m
matlab_functions/ilm_write_mrc.m
matlab_functions/ilm_write_tif.m
matlab_functions/ilm_write_video.m
matlab_functions/ilm_write_x_2y_hdf5.m
matlab_functions/ilm_write_x_hdf5.m
matlab_functions/ilm_write_x_y_hdf5.m
matlab_functions/ilm_write_y_hdf5.m
matlab_functions/ilm_xtl_build.m
matlab_functions/ilm_xtl_build_base.m
matlab_functions/ilm_xtl_csn_2_sgr.m
matlab_functions/ilm_xtl_css_2_csn.m
matlab_functions/ilm_xtl_css_2_sgr.m
matlab_functions/ilm_xtl_dmt.m
matlab_functions/ilm_xtl_dsm.m
matlab_functions/ilm_xtl_dvect.m
matlab_functions/ilm_xtl_dvect_2_rvect.m
matlab_functions/ilm_xtl_omega.m
matlab_functions/ilm_xtl_rmt.m
matlab_functions/ilm_xtl_rsm.m
matlab_functions/ilm_xtl_rvect.m
matlab_functions/ilm_xtl_sgn_2_csn.m
matlab_functions/ilm_xycg_2_atoms_symm.m
matlab_functions/ilm_xycg_2_atoms_theta.m
matlab_functions/ilm_xy_2_xyc.m
matlab_functions/ilm_Z.m
matlab_functions/ilm_Z_2_str.m
matlab_functions/m2psi_tot_0.mat
matlab_functions/mexBlasLapackCPU.m
matlab_functions/multem_default_values.m
matlab_functions/nvcc_g++.xml
matlab_functions/PCTF.m
matlab_functions/R_Grid.m
matlab_functions/shape_spline.mat
matlab_functions/ShowSlicing.m
matlab_functions/show_crystal.m
matlab_functions/space_groups.mat
matlab_functions/tfm_check_stem_setup.m
matlab_functions/ToDiffScale.m
matlab_functions/xy_projected.mat